# 版本控制
.git
.gitignore
.github

# 开发工具配置
.vscode
.idea
*.swp
*.swo

# 测试和文档
__tests__
*.test.*
*.spec.*
docs
*.md
LICENSE

# 环境和日志
.env*
logs
*.log
npm-debug.log*

# 操作系统
.DS_Store
Thumbs.db

# 不要忽略这些文件
!.npmrc
!package.json
!pnpm-lock.yaml
!tsconfig.json
